<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="IDA project test task">
    <meta name="keywords" content="HTML5, CSS3, Java Script, VueJS, NuxtJS">
    <meta name="author" content="Irina Iakovleva">
    <title>Irina Iakovleva</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>
    
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>